<p>
  Para recuperar tu cuenta ingresa tu correo electrónico o tu nombre de usuario:<br>
  <form action="/auth/semefue" method ="POST">
  <input type="text" name="forgotenUser" placeholder="usuario/correo"></form><br>
  <input type="submit" value="Recuperar">
</p>