        <header>
            <h1>Ingresa!</h1>
        </header>
        <main>
            {{!-- <form action="/auth/login" method="POST">
            <label><p>Correo:<br>
                <input type="text" name="email" placeholder="memes@longcats.com"></p></label>
                <label><p>Contraseña:<br>
                <input type="password" name="password" placeholder="DogLover49"></p></label>
                <input type="submit" text="Iniciar Sesión"><br>
                <a href="/auth/semefue"><small>olvidé mi usuario/contraseña</small></a><br><br>
                <label>o bien</label>
            </form>
            <br> --}}

            <a class="facebook-btn" href="/auth/facebook">Facebook</a><br>
            <a class="google-btn" href="/auth/google">Google+</a><br>
            {{!-- <a class="email-btn" href="/auth/signup">Regístrate</a><br> --}}
            <p><small><a href="/trending">luego ;)</a></small></p>
        </main>