<div class="loginLayout">
    <h4>Iniciar sesión</h4>
    <a class="google-btn googleButton uk-button uk-button-primary uk-button-large" href="/auth/google">
        Inicia con Google
    </a>
    <br><br>
    <a class="facebookButton facebook-btn uk-button uk-button-primary uk-button-large" href="/auth/facebook">
        Inicia con Facebook
    </a>
    <br><br>
    <a class="laterButton uk-button uk-button-primary uk-button-large" href="/trending">
        <p class="despues"> Después...</p>

        <small>(No podrás guardar tus memes favoritos)</small>
    </a>
</div>