        <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a><br>
            <a class="facebook-btn" href="/auth/facebook">Facebook</a><br>
            <a class="email-btn" href="/auth/signup">Email</a><br>
            <p><small><a href="/trending">luego ;)</a></small></p>
            <small>Por precauciones legales teneeeeeemos que advertir que este sitio utiliza cookies, pero no te preocupes, son iguales de inofensivas como una papa...</small>
        <p><small>aquí irá una foto de una papa + ">" + una foto de una galleta</small></p>
        </main>