<form action="/auth/signup" method="POST">
<label>Nombre de usuario:
  <input type="text" placeholder="MemeRexCommander_96" name="username">
</label>
<label>Email:
  <input type="text" placeholder="memero@memes.com.mx" name="email">
</label>
<label>Contrase単a:
  <input type="password" placeholder="Contrase単a" name="password">
</label>
<label>Repite tu contrase単a:
  <input type="password" placeholder="Repite tu contrase単a" name="password2">
</label>
<input type="submit" value="Llegale!">
</form>