<div class="article-feed">
  <!-- .articles will be added to .article-feed -->
  {{#each posts}}
  <article class="post">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">{{this.title}}</h3>
              </div>
              <div class="uk-card-media-top">
                  <img src="{{this.url}}">
              </div>
                <div class="tagsHome">
                    {{#each this.tags}}
                        <span class="tagsHomeSpan">#{{this}} </span>
                    {{/each}}
                </div>
              
          </div>
      </div>
    </div>
  </article>
  {{/each}}

<!-- status elements -->
<div class="scroller-status">
  <p class="infinite-scroll-last">FINAL DE LA PÁG</p>
  <p class="infinite-scroll-error">checa las otras secciones :)</p>
</div>

    <!-- status elements -->
    <div class="scroller-status">
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
    </div>

    <!-- pagination has path -->
    <p class="pagination">
    <a class="pagination__next" href="page2.html">Next page</a>
    </p>
</div>
