<div class="inicio">
    <div class="article-feed">
    <!-- .articles will be added to .article-feed -->
    <article class="post">
        <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Title</h3>
                </div>
                <div class="uk-card-media-top">
                    <img src="images/meme1.jpg">
                </div>
            </div>
        </div>
        </div>
    </article>
    <a href="/"></a>
    <article class="post">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Title</h3>
                </div>
                <div class="uk-card-media-top">
                    <img src="images/meme2.jpg">
                </div>
            </div>
        </div>
    </article>
    </div>

    <!-- status elements -->
    <div class="scroller-status">
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
    </div>

    <!-- pagination has path -->
    <p class="pagination">
    <a class="pagination__next" href="page2.html">Next page</a>
    </p>
</div>
