<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="WgjJcNpZuu4KGN8lTD_PZAb4F4rfNTWSyMruK82kOGM" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />

  <link rel="stylesheet" href="/stylesheets/style.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">


{{!-- buttons --}}
<style type="text/css">
 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>
</head>

<body>
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" id="toggleClose">&times;</a>
    <a href="/"><i class="fas fa-home"></i> Nuevos</a>
    {{!-- falta el loguito del # --}}
    <a href="/canales"><i class="fas fa-bolt"></i>&nbsp; Canales</a>
    <a href="/perfil"><i class="fas fa-user-circle"></i> Perfil</a>
    <a href="/trending"><i class="fas fa-bolt"></i>&nbsp; Trending</a>
    <a href="/pdp"><small>Política de privacidad</small></a>
    <a class="logoutA" href="/auth/logout">Logout :(</a>
  </div>
  <div id="cover"></div>
  <div id="main">
    <nav id="nav" class="navLayout">
      <div class="left-items">
        <i id="toggleOpen" class="fas fa-bars"></i>
        <p class="logo">
          ME.MEX
        </p>
      </div>
      <div class="right-items">
        <form id="searchForm" action="/search" method="POST" class="uk-search uk-search-default">
          <a id="searchButton" class="uk-search-icon-flip" uk-search-icon></a>
          <input id="searchBar" name="search" class="uk-search-input fade" type="text" placeholder="¡Busca memes!" hidden>
        </form>

      </div>
    </nav>

    <div class="bodyHbs">

      {{{body}}}
    </div>
    {{!-- <small>Por precauciones legales teneeeeeemos que advertir que este sitio utiliza cookies y al estar aquí las
      aceptas... pero no te preocupes, son iguales de inofensivas como una papa...(Aquí irá una foto de una papa + ">"
      + una foto de una galleta o una papa/galleta si encontramos)</small> --}}
  </div>
  <div id="footer" class="icons">
    <div id="item1" class="items"><a href="/"><i class="fas fa-home"></i></div></a>
    <div id="item2" class="items"><a href="/trending"><i class="fas fa-bolt"></i></div></a>




    {{!-- here goes the hidden button for directly upload an image for the post button --}}
    <div id="item3" class="items">
      <a id="addpost" onclick="loader()"><i class="fas fa-plus"></i></a>
      <input id="uploader" name="newPost" type='file' style="display:none" {{!-- onchange="readURL(this);"  --}} />
      <form action="/post/add" method="POST">
        <input id="url" name="url" type="text" value="empty" hidden>
        <input style="display:none" id="submitpost" type="submit">
      </form>
      </i>
    </div>

    {{!-- end of the posting button --}}
    <div id="item4" class="items"><a href="/canales"><i class="fas fa-fire"></i></div></a>
    <div id="item5" class="items"><a href="/perfil"><i class="fas fa-user-circle"></i></div></a>
  </div>
  </nav>
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="/javascripts/posting.js"></script>
  <script src="/javascripts/script.js"></script>

  {{!-- FACEBOOÇK --}}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '750433031985846',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  {{!-- AXIOS FOR API's --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>