body {
  padding: 0px;
  margin: 0;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navLayout {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.left-items {
  display: inherit;
  align-items: center;
  margin-left: 2em;
  cursor: pointer;
}

.left-items i{
  font-size: 2em;
}

.right-items {
  margin-right: 2em;
}

.logo {
  margin: 0 10px;
}

.bodyHbs {
  margin-top: 92px;
  padding: 0 2em;
  height: calc(100vh - 180px);
}

.icons {
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 2.5em;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.items {
  width: 20%;
  float: left;
  text-align: center;
}

.items i {
  font-size: 1em;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #00b6ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#cover{
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: -1;
  top: 0;
  background-color: rgba(0,0,0,0.5)
}

.uk-search-default .uk-search-input {
  height: 20px;
  padding-left: 6px;
  padding-right: 6px;
  background: 0 0;
  border: 1px solid #e5e5e5;
  padding: 1em;
  border-radius: 50px;
}

.fade{
  transition: opacity 350ms ease-in-out;
  
}

.miniaturas{
  width: 33%;
}

.perfil{
  text-align: center;
}

.perfil>img{
  border-radius: 50%;
}

.nombre{
  display: flex;
  justify-content: center;
}


.editarPerfil{
  text-decoration: none;
  border: 1px solid #4cc8ff;
  padding: 0.5em;
}

span > b{
  font-size: 1.5em;
}

.logout{
  margin: 3em;
}
.logout a{
  text-decoration: none;
}
#liked{
  display: flex;
  flex-wrap: wrap;
}

.likedDiv{
  width: 33%;
}

.logoutA{
  font-size: 1em !important;
  margin-top: 65vh;
  margin-left: 4em;
}