<img src="{{url}}">
<form action="/post/edit" method="POST">
<p><label>Titulo:<br><input type="text" placeholder="{{title}}" name="title"></label></p>
<p><label>#canales:<br><input type="text" placeholder="{{tags}}" name="tags"></label></p>
<input type="submit" value="enviar!">
<input type="text" value="{{_id}}" name="id" style="display: none">
</form>

<alt="post de memecanales#">
